@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/boowie');

 @media screen and (max-width: 655px) {
    
    header {
        min-height: 650px;
        height: 100vh;  
    }

    .cabecalho a, .cabecalho img {
        display: none;
    }

    .cabecalho p {
        display: block;
        text-align: center;
        padding-top: 80px;
        font-family: 'BOOWIE', sans-serif;
        font-size: clamp(24px, 10vw, 60px);
        background: radial-gradient(ellipse, #faec9f, #caa840); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
    }

    .background_header {
        min-height: 650px;
    }

    .overlay_header {
        min-height: 530px;
        height: calc(100vh - 120px);
    }

    .texto_principal_header {
        display: block;
        margin-bottom: 100px;
    }

    .texto_principal_header h1 {
        margin: auto;
        padding-bottom: 20px;
        font-size: clamp(28px, 6vw, 40px);
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.300);
    }

    .texto_principal_header p {
        margin: auto;
        font-size: clamp(16px, 5vw, 24px);
        text-align: justify;
        line-height: 22px;
    }

    .balloon {
        width: 65px;
        height: 65px;
        background: #25d366 url(../imagens/botao-flutuante-wp-mobile.svg);
    }

    .balloon:hover {
        background: #25d366 url(../imagens/logo-botao-flutuante-mobile.png);
    }

    .balloon:active {
        background: #25d366 url(../imagens/botao-flutuante-wp-mobile.svg);
    }
} 
