@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/boowie');

:root {
    --cor-primaria: #606060;
    --cor-secundaria: #222222;
    --cor-font: #56585e;
    --cor-whats: #25d366;
    --cor-logo-primaria: #fbf5d4;
    --cor-logo-secundaria: #c6af6c;

    --fonte-principal: "DM Sans", sans-serif;
    --fonte-destaque: "Poppins", sans-serif;
    --fonte-logo: 'BOOWIE', sans-serif;
}

 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-destaque);
    color: var(--cor-font);
}

p {
    font-family: var(--fonte-principal);
    color: var(--cor-font);
}

/* Cabeçalho */

.cabecalho {
    position: relative;
    height: 120px;
    padding: 0px 30px;
    z-index: 2;
    background-color: rgba(230, 230, 230, 0.920);
}

.cabecalho p {
    display: none;
}

.cabecalho img {
    position: fixed;
    left: 20px;
}

.cabecalho nav {
    display: flex;
    justify-content: flex-end;
}

.cabecalho a {
    display: inline-block;
    width: 100px;
    margin: 0px 15px;
    padding: 20px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
}

.cabecalho > nav a:hover {
    color: #131313;
    cursor: pointer;
    text-decoration: underline;
    transform: translate(-2px, -2px);
    transition: transform 0.3s ease;
}

.cabecalho > nav a:visited {
    color: #131313;
}

/* Background do Header */

.background_header {
    position: absolute;
    min-height: 490px;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 0;
    background: var(--cor-primaria) url(../imagens/background.png) no-repeat center center fixed;
    background-size: cover;
}

/* Overlay do background no Header */

.overlay_header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 370px;
    height: calc(100vh - 120px);
    z-index: 1;
    background-color: rgba(230, 230, 230, 0.920);
}

/* Texto principal do Header */


.texto_principal_header {
    text-align: center;
    /* Efeito texto principal */
    opacity: 0;
    transform: translateY(-10px); 
    animation: surgir 2s ease forwards;
}

@keyframes surgir {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    /* Fim do efeito */

.texto_principal_header h1 {
    max-width: 80vw;
    font-size: 3.3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
}

.texto_principal_header p {
    max-width: 80vw;
    font-size: 1.3em;
    line-height: 30px;
}

/* Balão flutuante WhatsApp */

.container_balloon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.balloon {
    position: absolute;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: pulsar 2s infinite;
    transition: opacity 1s ease-in-out;
    transition: background-image 0.5s ease;
    background: var(--cor-whats) url(../imagens/botao-flutuante-wp.svg) no-repeat center center fixed;
}

.balloon:hover {
    background: var(--cor-secundaria) url(../imagens/logo-botao-flutuante.png) no-repeat center center fixed;    
}

@keyframes pulsar {
    0% {
        transform: scale(0.9); /* Tamanho original */
    }
    50% {
        transform: scale(1); /* Aumenta 10% no meio da animação */
    }
    100% {
        transform: scale(0.9); /* Volta ao tamanho original */
    }
}

.balloon img:hover {
    opacity: 0;
}

/* Sessões */

 section {
    height: 500px;
}

.section1 {
    background-color: #25d366;
}

.section2 {
    background-color: #56585e;
}

.section3 {
    background-color: #c6af6c;
}

.section4 {
    background-color: #fbf5d4;
}

/* Rodapé */

footer {
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 20px;
}

footer p {
    color: white;
}