@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/boowie');

:root {
    --cor-primaria: #606060;
    --cor-secundaria: #222222;
    --cor-font: #56585e;
    --cor-whats: #25d366;
    --cor-logo-primaria: #fbf5d4;
    --cor-logo-secundaria: #c6af6c;

    --fonte-principal: "DM Sans", sans-serif;
    --fonte-destaque: "Poppins", sans-serif;
    --fonte-logo: 'BOOWIE', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background:linear-gradient(rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.9)), url(../imagens/background.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logotipo {
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.logotipo-img {
    width: 300px;
}

.box-links {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    margin-top: 30px;
}

.links {
    position: relative;
    margin-bottom: 25px;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1em;
    color: #c5a544;
    background-color: #f8f4de;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.250);
    text-shadow: 0px 0px 2px rgba(83, 83, 83, 0.150);
    border: 2.5px solid #c5a544;
}

.fa-brands, .fa-solid {
    position: absolute;
    left: 10px;
    vertical-align: middle;
    font-size: 1.6em;
}

.map-container {
    display: none;
    position: relative;
    height: 0;
    top: -505px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: center; 
    background-color: #c5a544;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
}

.map-container.active {
    display: flex;
    height: 390px;
}

.map-container iframe {
    pointer-events: none;
    z-index: 3;
}

#botao-maps {
    position: absolute;
    order: 1;
    color: #f8f4de;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 1em;
    width: 350px;
    height: 390px;
    text-align: center;
    padding-top: 358px;
    z-index: 2;
}

@media (hover: hover) and (pointer: fine) {
    .links:hover {
        background-color: #c5a544;
        color: #f8f4de;
        border: 2.5px solid #f8f4de;
        transition: background-color 1s ease;
    }

    #botao-maps:hover {
        background-color: #f8f4de;
        color: #c5a544;
        text-decoration: underline;
    }

    #botao-maps:active {
        background-color: #f8f4de;
        color: #c5a544;
    }
}